*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
header{
  font-family: "Irish Grover", system-ui;
  font-size: 35px;
  font-style: normal;
font-weight: 400;
line-height: normal;
}
body{
  font-size: 1.6ren;
}